#cabecalho {
  background-color: var(--white);
  max-width: var(--max-width);
}

.img_log {
  width: 170px;
  height: auto;

  object-fit: cover;
}

.nav_header a {
  color: var(--gray01);

  font-weight: 500;
  font-size: 1.1rem;
  font-family: var(--font-title);
}
