#container_banner {
  background: url("../../../public/capa.png") no-repeat center right;
  background-size: cover;

  width: 100vw;
  height: 90vh;
}
.largura_max {
  width: 100%;
  max-width: var(--max-width);
  height: fit-content;

  margin: 0 auto;
  padding: 0 1rem;
}

.container_banner {
  color: var(--white);
}
.container_banner h1 {
  max-width: 450px;

  font-size: 2.8rem;
  font-weight: 600;
  font-family: var(--font-title);

  text-transform: uppercase;
  letter-spacing: 6px;
}
.container_banner p {
  color: var(--gray);
  font-size: 1.8rem;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  #container_banner {
    background-position: center center;
    opacity: 0.9;
  }
  .container_banner h1 {
    font-size: 2.2rem;
  }
  .container_banner p {
    font-size: 1.4rem;
  }
}
