:root {
  --max-width: 1100px;
  --white: #fff;
  --white01: #f8f7ff;
  --white02: #f6f6f6;
  --gray: #c4c4c4;
  --gray01: #4a4a4a;
  --black: #000;
  --dark-blue: #05031b;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tahoma, Verdana, sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
