#section_container {
  background-color: var(--white02);
}
.largura_max {
  max-width: var(--max-width);

  margin: auto;
  padding: 5rem 1rem 3rem;
}

.box :is(figure, div) {
  height: 300px;
  flex: 1 1 300px;
}

.box h4 {
  text-transform: uppercase;
  font-family: var(--font-title);
}
.box p {
  color: var(--gray01);
  font-size: 1.4rem;
}

@media (max-width: 600px) {
  .box h4{
    font-size: 1.6rem;
  }
  .box p {
    font-size: 1.1rem;
  }
}